/ED-SFSB-RI/nbproject/private/
/ED-SFSB/nbproject/private/
/ED-SFSB/ED-SFSB-war/nbproject/private/
/ED-SFSB/ED-SFSB-ejb/nbproject/private/
/ED-SFSB-app-client/nbproject/private/
/ED-SFSB-RI/build/
/ED-SFSB/ED-SFSB-ejb/build/
/ED-SFSB/ED-SFSB-ejb/dist/
/ED-SFSB-RI/dist/
/ED-SFSB/build/
/ED-SFSB/ED-SFSB-war/build/
/ED-SFSB/ED-SFSB-war/dist/
/ED-SFSB/dist/
/ED-SFSB-app-client/build/
/ED-SFSB-app-client/dist/